@using Red_System.Models.Entities;
@model Red_System.Models.ProfessoreSelezionaVerificaModel

@{
    Layout = "~/Views/Shared/_LayoutProfessore.cshtml";
}


<div class="wrapper fadeInDown">
    <div id="formContent">

        @using (Html.BeginForm("ProfessoreSelezionaVerifica", "Reserved", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <br />
            <br />
            <div class="row" style="padding-left:40%">
                <div class="col-md-offset-2 col-md-4">
                    <div class="dropdown-menu">
                        @Html.DropDownListFor(t => t.VerificaSelectedValue, Model.ListaSelectVerifica, "Seleziona la classe")
                    </div>
                </div>
            </div>
            <br />
            <br />
                           
            <div class="row" style="padding-left:40%">
                <div class="col-md-offset-4 col-md-4">
                    <input id="send" type="submit" value="@Model.LabelButtonSend" class="btn btn-danger" />
                </div>
            </div>
            if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <div class="row" style="padding-left:30%">
                    <div class="col-md-offset-4 col-md-4">
                        <p class="field-validation-error">@Html.Raw(Model.ErrorMessage) </p>
                    </div>
                </div>
            }
        }

    </div>
</div>