@using Red_System.Models.Entities;
@model Red_System.Models.ProfessoreAssegnaVerificaModel
@{
    ViewBag.Title = "ProfessoreAssegnaVerifica";
    Layout = "~/Views/Shared/_LayoutProfessore.cshtml";
}

<div class="wrapper fadeInDown">
    <div id="formContent" >

        @using (Html.BeginForm("ProfessoreAssegnaVerifica", "Reserved", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <br />
            <br />
        <div class="row" style="padding-left:30%">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    @Html.DropDownListFor(t => t.VerificaSelectedValue, Model.ListaSelectVerifica, "Seleziona la verifica")
                </div>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    @Html.DropDownListFor(t => t.ClasseSelectedValue, Model.ListaSelectClasse, "Seleziona la classe")
                </div>
            </div>
        </div>
        <br />
        <br />
            <div class="row" style="padding-left:40%">
                <div class="col-md-offset-4 col-md-4">
                    <input type="submit" value="@Model.LabelSend" class="btn btn-primary" />
                </div>
            </div>
            if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <p class="field-validation-error">@Html.Raw(Model.ErrorMessage) </p>
                    </div>
                </div>
            }
        }

    </div>
</div>
