@using Red_System.Models.Entities;
@model Red_System.Models.ProfessoreInsertDomandaModel

@{
    Layout = "~/Views/Shared/_LayoutProfessore.cshtml";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        @using (Html.BeginForm("ProfessoreInsertDomanda", "Reserved", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <br />
        <br />
        <h1> Inserimento </h1>
        <br />
        <br />
        <div class="row" style="padding-left:42%">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <label for="Name">@Model.LabelDomanda</label>
                    @Html.TextBoxFor(t => t.DomandaChiusa.Domanda, new { @class = "form-control fadeIn second", placeholder = Model.LabelDomanda })
                    @Html.ValidationMessageFor(t => t.DomandaChiusa.Domanda)
                </div>
            </div>
        </div>
        <div class="row" style="padding-left:42%">

            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <label for="Name">@Model.LabelOpzioneA</label>
                    @Html.TextBoxFor(t => t.DomandaChiusa.OpzioneA, new { @class = "form-control fadeIn second", placeholder = Model.LabelOpzioneA })
                    @Html.ValidationMessageFor(t => t.DomandaChiusa.OpzioneA)
                    @Html.CheckBoxFor(t => t.DomandaChiusa.RispGiustaA)
                </div>
            </div>
        </div>

        <div class="row" style="padding-left:42%">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <label for="Name">@Model.LabelOpzioneB</label>
                    @Html.TextBoxFor(t => t.DomandaChiusa.OpzioneB, new { @class = "form-control fadeIn second", placeholder = Model.LabelOpzioneB })
                    @Html.ValidationMessageFor(t => t.DomandaChiusa.OpzioneB)
                    @Html.CheckBoxFor(t => t.DomandaChiusa.RispGiustaB)
                </div>
            </div>
        </div>

        <div class="row" style="padding-left:42%">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <label for="Name">@Model.LabelOpzioneC</label>
                    @Html.TextBoxFor(t => t.DomandaChiusa.OpzioneC, new { @class = "form-control fadeIn second", placeholder = Model.LabelOpzioneC })
                    @Html.ValidationMessageFor(t => t.DomandaChiusa.OpzioneC)
                    @Html.CheckBoxFor(t => t.DomandaChiusa.RispGiustaC)
                </div>
            </div>
        </div>

        <div class="row" style="padding-left:42%">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <label for="Name">@Model.LabelOpzioneD</label>
                    @Html.TextBoxFor(t => t.DomandaChiusa.OpzioneD, new { @class = "form-control fadeIn second", placeholder = Model.LabelOpzioneD })
                    @Html.ValidationMessageFor(t => t.DomandaChiusa.OpzioneD)
                    @Html.CheckBoxFor(t => t.DomandaChiusa.RispGiustaD)
                </div>
            </div>
        </div>

        <div class="row" style="padding-left:42%">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <label for="Name">@Model.LabelOpzioneE</label>
                    @Html.TextBoxFor(t => t.DomandaChiusa.OpzioneE, new { @class = "form-control fadeIn second", placeholder = Model.LabelOpzioneE })
                    @Html.ValidationMessageFor(t => t.DomandaChiusa.OpzioneE)
                    @Html.CheckBoxFor(t => t.DomandaChiusa.RispGiustaE)
                </div>
            </div>
        </div>
        <div class="row" style="padding-left:42%">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <label for="Name">Totale domanda</label>
                    @Html.TextBoxFor(t => t.DomandaChiusa.Punteggio, new { @class = "form-control fadeIn second", placeholder = Model.LabelPunteggio })
                    @Html.ValidationMessageFor(t => t.DomandaChiusa.Punteggio)
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <input id="send" type="submit" value="@Model.LabelButtonSend" class="btn btn-danger" />
        </div>
            if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <p class="field-validation-error">@Html.Raw(Model.ErrorMessage) </p>
            </div>
        </div>
            }
        }



    </div>
</div>


<br />
<br />


<h1> Riepilogo </h1>
<br />
<br />
<div class="card-deck" style="width:80%; height:90%; margin-left: 15%;">


    @{

        foreach (var item in Model.ListaDomandaChiusa)
        {


        <div class="row">
            <div class="col">
                    <div class="card bg-light">
                        <div class="card-header">
                            @item.Domanda
                        </div>
                        <div class="card-body">
                            <div>
                                @item.OpzioneA
                                @if (item.RispGiustaA)
                                {
                                <div>
                                    <svg class="bi bi-check-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                    </svg>
                                </div>
                                }
                                else
                                {
                                <div>
                                    <svg class="bi bi-x-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                    </svg>
                                </div>
                                }
                            </div>
                            <br />
                            <div>
                                @item.OpzioneB
                                @if (item.RispGiustaB)
                                {
                                <div>
                                    <svg class="bi bi-check-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                    </svg>

                                </div>
                                }
                                else
                                {
                                <div>
                                    <svg class="bi bi-x-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                    </svg>
                                </div>
                                }
                            </div>
                            <br />
                            <div>
                                @item.OpzioneC
                                @if (item.RispGiustaC)
                                {
                                <div>
                                    <svg class="bi bi-check-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                    </svg>
                                </div>
                                }
                                else
                                {
                                <div>
                                    <svg class="bi bi-x-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                    </svg>
                                </div>
                                }
                            </div>
                            <br />
                            <div>
                                @item.OpzioneD
                                @if (item.RispGiustaD)
                                {
                                <div>
                                    <svg class="bi bi-check-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                    </svg>
                                </div>
                                }
                                else
                                {
                                <div>
                                    <svg class="bi bi-x-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                    </svg>
                                </div>
                                }
                            </div>
                            <br />
                            <div>
                                @item.OpzioneE
                                @if (item.RispGiustaE)
                                {
                                <div>
                                    <svg class="bi bi-check-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                    </svg>
                                </div>
                                }
                                else
                                {
                                <div>
                                    <svg class="bi bi-x-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                    </svg>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                <br />
                <br />
            </div>
        </div>

        }

    }
</div>
