@using Red_System.Models.Entities;
@model Red_System.Models.VerificaModel

@{
    Layout = "~/Views/Shared/_LayoutVerifica.cshtml";
}
<!--

<div class="wrapper fadeInDown">
    <div id="formContent">
        @using (Html.BeginForm("Verifica", "Reserved", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            foreach (var item in Model.ListaDomandaChiusa)
            {

                <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="form-group">
                            <label for="Name">@Model.LabelDomanda</label>
                            <p>@(item.Domanda) </p>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-4">
                        <div class="form-group">
                            <label for="Name">@Model.LabelOpzioneA</label>
                            <p>@(item.OpzioneA) </p>
                            @Html.CheckBoxFor(t => item.RispStudenteA)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="form-group">
                            <label for="Name">@Model.LabelOpzioneB</label>
                            <p>@(item.OpzioneB) </p>
                            @Html.CheckBoxFor(t => item.RispStudenteB)
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-4">
                        <div class="form-group">
                            <label for="Name">@Model.LabelOpzioneC</label>
                            <p>@(item.OpzioneC) </p>
                            @Html.CheckBoxFor(t => item.RispStudenteC)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="form-group">
                            <label for="Name">@Model.LabelOpzioneD</label>
                            <p>@(item.OpzioneD) </p>
                            @Html.CheckBoxFor(t => item.RispStudenteD)
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-4">
                        <div class="form-group">
                            <label for="Name">@Model.LabelOpzioneE</label>
                            <p>@(item.OpzioneE) </p>
                            @Html.CheckBoxFor(t => item.RispStudenteE)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <input type="submit" value="Consegna" class="btn btn-primary" />
                    </div>
                </div>
            }
        }

    </div>
            </div>

    -->
